.bg-new {
    position: relative;
    background-color: rgb(59, 12, 12);
}
ul > li {padding:5px 20px;}


.btn-primary-1 {
    color: red;
    background-color: transparent;
    border-color: red;
}
.order-3 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.order-1 {margin-top: 50px;}   

.order-2 {padding-left: 100px;
        margin-bottom:20px;}

.footer {
    background-color: rgb(59, 12, 12);
    color: white;
    margin-top: 25px;
}